<div
  aria-live="polite"
  aria-atomic="true"
  class="position-fixed top-0 end-0 p-3"
  style="z-index: 1200; transform: translateX(-5px)"
>
  <div class="toast-container">
    <div
      *ngFor="let toast of toastService.toasts"
      class="toast show"
      [ngClass]="{
        'text-bg-success': toast.type === 'success',
        'text-bg-danger': toast.type === 'danger',
        'text-bg-warning': toast.type === 'warning',
        'text-bg-info': toast.type === 'info'
      }"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      style="max-width: 350px; width: 90vw"
    >
      <div class="d-flex">
        <div class="toast-body">
          <strong ngIf="toast.title" class="d-block">{{ toast.title }}</strong>
          <div class="break-word">{{ toast.message }}</div>
        </div>
        <button
          type="button"
          class="btn-close me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Close"
          (click)="toastService.remove(toast)"
        ></button>
      </div>
    </div>
  </div>
</div>
